asv
black
boto3
flake8
moto[server,s3]
pooch
pre-commit
pytest
pytest-cov
pytest-randomly # control random seed
pytest-xdist # parallel tests: https://pytest-xdist.readthedocs.io/en/latest/
shapely
xarray # For dolphin.atmosphere tests
