# For citations:
# mkdocs requirements
git+https://github.com/bobmyhill/mdx_bib
mkdocs
mkdocs-gen-files
mkdocs-jupyter
mkdocs-literate-nav
mkdocs-material
mkdocs-section-index
mkdocstrings[python]
pymdown-extensions
