# mkdocs requirements
markdown # for mdx_bib
mkdocs
mkdocs-gen-files
mkdocs-jupyter
mkdocs-literate-nav
mkdocs-material
mkdocs-section-index
mkdocstrings[python]
pybtex # for mdx_bib
pymdown-extensions
